body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.5em;
}

nav, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: white;
}


.sf-logo {
    width: 150px;
    display: inline-block;
    font-family: 'Comfortaa', cursive;
    margin-left: 35px;
    vertical-align: bottom;
}

.menu {
    margin: 0 0 0 60px;
    padding: 0;
    list-style-type: none;
}
.menu > li {
    margin: 0 10px;
    padding: 0;
    display: inline-block;
}
.menu > li > a {
    padding: 5px 10px;
    text-decoration: none;
    color: #1680E3;
}
.menu > li > .about-feedback, .store-feedback, .support-feedback {
    text-decoration: underline;
}

footer > p {
    margin-right: 35px;
}

#support {
    margin-right: 15px;
}

/* INDEX html begins here */
#hero {
    background: #333 url('images/happy-senior.jpg') no-repeat center center;
    background-size: cover;
    height: 900px;
    position: relative
}
#hero-text {
    /*padding-left: 53%;
    padding-top: 6%;
    padding-right: 10%;*/
    font-size: 1.7em;
    width: 40%;
    position: absolute;
    left: 720px;
    top: 120px;
}


#merch {
    background-color: #4E3E22;
    height: 430px;
    color: white;
    font-size: 1.2em;
    /*box-sizing: border-box;*/
}
#merch > #merch-htag, #merch-ptag, #green-button {
    width: 30%;
    left: 10%;
    top: 22%;
    vertical-align: bottom;
    position: relative;
}
#merch > #merch-htag {
    font-weight: 900;
}

#green-button {
    width: 170px;
    height: 50px;
    background-color: #1680E3;
    border: 300px;
    border-radius: 20px;
    text-align: center;
}
#green-button > #shop-here-button {
    position: relative;
    top: 25%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#merch-image {
    height: 300px;
    width: auto;
    position: relative;
    bottom: 35%;
    left: 50%;
}



#workout-programs {
    background-color: #E3C8AC;
    margin-top: -80px;
    display: flex;
    justify-content: space-evenly;
}
#workout-programs-heading {
    display: block;
    margin-left: 10%;
    font-size: 2.3em;
    padding-top: 40px;
}
.programs {
    margin-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    width: 19%;
    height: 600px;
    display: inline-block;
    font-size: 19.2px;
}
.programs-centerbody {
    margin-top: 40px;
    width: 21%;
    height: 600px;
    display: inline-block;
    font-size: 19.2px;
}
.body-titles {
    font-weight: 900;
    font-size: 1.3em;
    margin-bottom: -10px;
}
.program-atags {
    color: #1680E3;
    font-weight: bolder;
}


#more-information {
    background-color: #496D43;
    margin-top: -140px;
    color: white;
}
#more-information-heading {
    display: block;
    padding-left: 10%;
    font-size: 2.3em;
    padding-top: 5%;
}
.more-info {
    padding-left: 10%;
    padding-right: 10%;
    width: 20%;
    display: inline-block;
}

/* INDEX html ^ */



/*Upper Body, Center Body/ Lower Body*/

.brown {
    background-color: #4E3E22;
    color: white;
}

.tan {
    background-color: #DDBC9A;
}

.green {
    background-color: #496D43;
    color: white;
}

section {
    padding: 20px 55px ;
}

.video {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 40px 0;
}

.video > p {
    width: 35%;
    font-size: 1.1em;
}

.video > ol {
    text-align: left;
    width: 36%;
    display: inline-block;
}

.video > iframe {
    display: inline-block;
}

.video-titles {
    text-align: center;
    font-weight: bold;
    font-size: 2.25em;
}

.video > ol, ul {
    text-align: left;
    width: 36%;
    display: inline-block;
}

.video > iframe {
    display: inline-block;
}

.video-titles {
    text-align: center;
    font-weight: bold;
    font-size: 2.25em;
}
  
/*Upper Body, Center Body/ Lower Body ends here*/

/* About Us starts here */
#about-hero {
    background-image: url("images/about-background.jpg") no-repeat center center;
    height: 900px;
    width: 100%;
}