body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.5em;
}

nav {
    height: 2.5%;
    width: auto;

    text-align: left;
    background-color: white;
    position: relative;
}

.sf-logo {
    width: 150px;
    display: inline-block;
    font-family: 'Comfortaa', cursive;
    margin-left: 30px;
    vertical-align: bottom;
}

#menu {
    margin: 0 0 0 60px;
    padding: 0;
    display: inline-block;
    vertical-align: 20%;
    list-style-type: none;

}

#menu > li {
    margin: 0 10px;
    padding: 0;
    display: inline-block;
}

#menu > li > a {
    text-decoration: none;
    color: #1B922E;
}

#menu > li > .about-feedback {
    text-decoration: underline;
}

#menu > li > .store-feedback {
    text-decoration: underline;
}

#menu > li > .support-feedback {
    text-decoration: underline;
}

#hero-section {
    background: #333 url('images/happy-senior.jpg') no-repeat center center;
    background-size: cover;
    height: 900px;
    width: 100%;
    display: inline-block;
}

#hero-text {
    padding-left: 50%;
    padding-top: 10%;
    padding-right: 10%;
}

#merch-section {
    display: inline-block;
    background-color: #1B922E;
}

/*Upper Body, Center Body/ Lower Body*/

.brown {
    background-color: #4E3E22;
    color: white;
}

.tan {
    background-color: #DDBC9A;
}

.green {
    background-color: #496D43;
    color: white;
}

section {
    padding: 20px 55px ;
}

.video {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 40px 0;
}

.video > p {
    width: 35%;
    font-size: 1.1em;
}

.video > ol {
    text-align: left;
    width: 36%;
    display: inline-block;
}

.video > iframe {
    display: inline-block;
}

.video-titles {
    text-align: center;
    font-weight: bold;
    font-size: 2.25em;
}

/*Upper Body, Center Body/ Lower Body ends here*/